html {border: 0; padding: 0; margin: 0; color: rgb(156, 183, 241); background-color: #111113; box-sizing: border-box; overflow-x: hidden; font-family: Verdana}
body, h1 {margin: 0}
p {text-shadow:1px 1px 5px black}
.page {width: 100vw; height: auto; position: relative; 
    background: linear-gradient(180deg, rgba(12,29,64,1) 33%, rgba(20,46,108,1) 66%, rgba(12,29,64,1) 100%)}
.small_page {width: 100vw; height: 70vh; position: relative; 
    background: linear-gradient(180deg, rgba(12,29,64,1) 33%, rgba(20,46,108,1) 66%, rgba(12,29,64,1) 100%)}
* {text-wrap: wrap; flex-wrap: wrap}

/* Intro Pages */
#title_page * {text-shadow:1px 1px 10px black; font-weight: bold}
#logo {display: block; margin-left: auto; margin-right: auto; padding-top: 20vh; width: 55%; height: auto}
#title_names {display: block; position: relative; margin-left: 15vw; font-size: 1.75em;}
#name_flex {display: flex; justify-content: space-between; padding-top: 10vh; font-weight: bold}
#SUPERxAD {display: inline; margin: 0; margin-right: 15vw; padding-top: 1.5em; border: 1px,rgb(84, 124, 211); border-radius: 25px; font-size: 1.75em}

a:visited {color:rgb(243, 177, 34); text-decoration: none; font-weight:bold}
a:hover {color: white; text-decoration: none; font-weight: bold}
a {color: rgb(228, 123, 4); text-decoration: none; font-weight: bold}

#years {display: flex; justify-content: space-evenly; flex-wrap: wrap; font-size: 2em; margin-top: 5vh; text-shadow:1px 1px 5px black; font-weight: bold}

/* Award Pages */
.page_title {text-align: center; font-weight: bold; font-size: 2.75em; padding-top: 10vh; text-shadow:2px 2px 15px black;}
.award {position: relative; overflow: hidden; height: auto; padding-bottom: 125px}

.nominee_title {color: white; text-align: center; text-shadow:1px 1px 5px black; font-weight: bold}
.nominee_list {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around; align-items: center; gap: 16px; max-width: 90vw; padding: 10px 0 10px 0; margin: 0 auto; padding-top: 100px !important}
.nominee {display: block; min-width: 150px}
.debate_description {font-size: 0.6em}

.announcer {
    border-radius: 10px;
    width: 750px;
    max-width: 80vw;
    height: 421.875px;
    max-height: 45vw;
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
}

/* Nominee Names and Numbers for Post-Voting */
.nominee.unblur img{filter: none}
.nominee p {text-align: center; transition: filter 0.5s ease}
.nominee.unblur .name {
    filter: none;
}
.nominee p .number {filter: none !important; font-weight: bold; color: white; z-index: 1}

/* Award Nominees */    
/* Pre-set for 5 nominees */
#antagonist img, #frenemy img {
    width: 17vw;
    height: 27vh;
}
#antagonist .nominee_list, #frenemy .nominee_list {
    max-width: 70vw;
}
/* Pre-set for 12 nominees */
#buddy img, #ally img, #drama img {
    width: 11vw;
    height: 22vh;
    display: block;
    margin: 0 auto;
}
/* Pre-Sets for Video Categories (Thumbnail Size)  */
#debate img, #shitshow img, #conversation img {
    height: auto;
    width: 320px;;
}
#debate .nominee, #shitshow .nominee, #conversation .nominee{
    width: 320px;
    height: 275px;
}
/* Special Pre-set for Drama and Meme Phrase*/
#drama .nominee {
    max-width: 200px;
    font-size: 0.8em;
    height: 320px;
}
#drama .nominee_list, #phrase .nominee_list {
    column-gap: 32px;
}
/* Shows entire emote in box */
#emote img, #debate img {
    object-fit: contain;
}

/* Clip Categories */
.emote_title {
    display: flex;
    justify-content: center
}
.category_emote {
    position: relative;
    padding-right: 3vh;
    height: 5em;
    width: auto;
    padding-top: 9vh
}

/* How to swap from Pre-Voting to Final status:
Set filter: blur(50px) to .nominee name and .nominee img
Change cursor: auto to cursor: pointer */ 
.nominee .name {
    overflow: hidden;
    filter: blur(50px);
    transition: filter 0.5s ease; 
}
/* Standard pre-set for 10 nominees */
.nominee img {
    min-width: 150px;
    width: 13vw;
    height: 25vh;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 8px 10px rgba(0,0,0,0.8);
    border: 2px solid black;
    overflow: hidden; 
    margin: 0 auto;
    transition: filter 0.5s ease;
    filter: blur(50px);
}
.nominee img:hover, .nominee .name:hover {
    cursor: pointer;
}
iframe {
    object-fit: contain;
    width: 500px;
    max-width: 80vw;
    height: 281.25px;
    max-height: 45vw;
    border-radius: 10px;
    box-shadow: 5px 8px 10px rgba(0,0,0,0.8);
    border: 2px solid black;
    margin: 0 auto;
}
.strawpoll-iframe {
    height: 100%;
    max-height: 1000px !important;
    box-shadow: 5px 8px 10px rgba(0,0,0,0.8);
}
.strawpoll-embed {
    margin-top: 100px !important;
    height: 100%;
    max-height: 1000px !important;
}

@media (max-width: 768px) 
    {p {
        font-size: 1em !important
    }
    h1 {
        font-size: 1.5em !important
    }
    .nominee .name {
        font-size: 0.75em
    }
    .page_title {
        margin-left: 30px;
        margin-right: 30px;
    }
    #logo {
        width: 90vw;
        height: auto
    }
    #title_names {
        padding-right: 5vh
    }
}

@media (max-width: 1300px)
    {#VeryPog, #VeryPog2 {
        height: 1px; width: auto
    }
    .page_title {
        margin-left: 30px; margin-right: 30px
    }
    .nominee_list {
        padding-right: 30px;
        padding-left: 20px
    }
    #name_flex * {
        display: block
    }
    #SUPERxAD {
        margin-left: 15vw;
        font-size: 1.5em !important;
    }
}

@media (max-height: 600px) {
    .page, .small_page {
        position: relative;
        overflow: hidden;
        height: auto;
        padding-bottom: 125px
    }
    }
